<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section class="theamscreatelistcontainer">
    <div class="theamscreatelist">

        <h1> ADD NEW Group </h1>
        <form id="data" th:method = "POST"  th:action="/web/mvc/addgroup">
            <p>Выберите темы для группы</p>
            <table>
                <tbody>
                <tr th:each="theamap : ${mapITe}">
                    <td >
                        <input type="checkbox" name="${theammap.value.theamName}" value=${theamap.key}"/>
                    </td>
                </tr>
                </tbody>
            </table>
            <br>
            <p>Выберите студентов для группы</p>
            <table>
                <tbody>
                <tr th:each="stmap : ${mapIS}">
                    <td>
                        <input th:text="${stmap.value.name}" id="${stmap.value.name}" value=${stmap.key}"/>
                    </td>
                </tr>
                </tbody>
            </table>
            <p>Выберите тренера для группы</p>
            <table>
                <tbody>
                <tr th:each="trmap : ${mapITr}">
                    <td>
                        <input type="radio" name="${trmap.value.name}" value=${trmap.key}"/>
                    </td>
                </tr>
                </tbody>
            </table>

            <p><input type="submit" value="Отправить"></p>
        </form>
    </div>
</section>
<form  action="hello">
    <input type="submit" value="Go to Main Admin!">
</form>
<br>
<br>
<jsp:include page="logout.jsp" />

</body>

</html>