<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib uri = "http://java.sun.com/jsp/jstl/core" prefix = "c" %>
<%@ page import="java.util.*" %>

<head>
    <meta charset="UTF-8">
    <title>Average salary page</title>
</head>
<body>
<br>
<form name="data" method="get" action="/web/mvc/avarageCalc">
<table>
    <thead>
    <tr>
        <td>Trainer</td>
        <td>Change</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entity : ${allTrainer}">
        <td th:text="${entity.name}">Name</td>'
        <td>
            <input type="radio" name="trId" th:value="${entity.id}"/>
        </td>
        <br>
    </tr>
    </tbody>

</table>
    <br>
    <div>
      Enter period for
        <input type="number" name="period" >
    </div>

    <p><input type="submit"  value="Calculate salary"></p>
</form>

<br>
<form  action="hello">
    <input type="submit" value="Go to Main Page!">
</form>
<br>
<jsp:include page="logout.jsp" />
</body>
</html>