<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:object="${group}">
<p th:text="*{name}">name</p>
    <p th:text="*{id}">id</p>
    <p th:text="*{trainer.name}">trainer name:</p>

    <table>
        <thead>
        <tr>
            <td> Group Student</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entity : *{studentMap}">
            <td th:text="${entity.value.name}">Id</td>
            <br>
        </tr>
        </tbody>
    </table>

    <table>
        <thead>
        <tr>
            <td> Group Theam</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entity2 : *{theamsSet}">
            <td th:text="${entity2.name}">Id</td>
            <br>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>