<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib uri = "http://java.sun.com/jsp/jstl/core" prefix = "c" %>
<%@ page import="java.util.*" %>

<head>
  <meta charset="UTF-8">
  <title>Demo page</title>
</head>
<body>
<br>
<form id="data" method="get" action="/web/mvc/groupforwatch">
<table>
  <thead>
  <tr>
    <td>Group_Id</td>
    <td>Group_Name</td>
    <td>Group_Trainer</td>
  </tr>
  </thead>
  <tbody>
  <tr th:each="entity : ${map}">
    <td th:text="${entity.key}">Id</td>
    <td th:text="${entity.value.name}">Name</td>
    <td th:text="${entity.value.trainer.name}">Login</td>
    <td><input type="radio" name="groupid" th:value="${entity.key}"/></td>

    <br>
  </tr>
  </tbody>

</table>
  <input type="submit" form="data"> Watch group <input>
</form>
<br>
<form  action="hello">
  <input type="submit" value="Go to Main Page!">
</form>
<br>
<jsp:include page="logout.jsp" />
</body>
</html>