
<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
<!--    <link th:href="static/css/style.css" rel="stylesheet">-->
</head>

<body>
<br>
    <form id="data" method="get" action="/web/mvc/trainer/changestrategy" th:object="${group}">
        <div>
        <table>
            <thead>
            <tr>
                <td>Student id</td>
                <td> Name </td>
                <td>Change</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entity : *{studentMap}">
                <td th:text="${entity.key}">id</td>
                <td th:text="${entity.value.name}">name</td>
                <td >
                    <input type="radio" name="studentId" th:value="${entity.key}" />
                </td>
            </tr>
            </tbody>
        </table>
        </div>
        <br>

        <div>
        <table>
            <thead>
            <tr>
                <td>Theam id</td>
                <td> Name
                </td>
                <td>
                    Change
                </td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entity1 : *{theamsSet}">
                <td th:text="${entity1.id}">id</td>
                <td th:text="${entity1.theamName}">name</td>
                <td >
                    <input type="radio" name="theamId" th:value="${entity1.id}" />
                </td>
            </tr>
            </tbody>
        </table>
        </div>

        <br>
        <select name="act", form="data">
            <option value="create">ADD MARK</option>
            <option value="delete">Delete MARK </option>
            <option value="change">Change MARK</option>
            <option value="watch">Watch  MARK</option>
        </select>
        <br>

        <div>
            Enter mark id for delete it
            <input type="number" name="markId" text=""/>
        </div>

            <input type="submit" form="data" value="  Do act   ">

    </form>

</body>
</html>