
<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link th:href="static/css/style.css" rel="stylesheet">
</head>

<body>
<br>
<section class="admincontainer">

    <form id="data" method="post" action="/web/mvc/trainer/">
        <div>
            <h1> Trainer page </h1>
            <select name="entity", form="data">
                <option value="student">Student</option>
                <option value="trainer">Trainer</option>
                <option value="administrator">Administrator</option>
                <option value="group">Group</option>
                <option value="theam">Theam</option>
            </select>
            <br>

            <select name="act", form="data">
                <option value="create">ADD </option>
                <option value="delete">Delete </option>
                <option value="change">Change </option>
                <option value="watch">Watch </option>
            </select>

            <br>
            Enter User ID for delete: <input name ="id", type="number"> <br>
            <br>


            <br>
            <br>

            <input type="submit" form="data" value="  Do act   ">
        </div>
    </form>
</section>
<br>
<section class="salaryaddontainer">
    <div class="salary">
        <form action="/web/mvc/addsalary">
            <button type="submit"   > ADD SALARY </button>
        </form>

        <form action="avarageSalary">
            <button type="submit"   > AVARAGE SALARY </button>
        </form>
    </div>
    <br>
</section>
<br>
<jsp:include page="logout.jsp" />
</body>
</html>