<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib uri = "http://java.sun.com/jsp/jstl/core" prefix = "c" %>
<%@ page import="java.util.*" %>

<head>
    <meta charset="UTF-8">
    <title>Demo page</title>
</head>
<body>
<br>

<table>
    <thead >
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Login</td>
        <td>Password</td>
        <td>Age</td>
        <td>Role</td>
    </tr>
    </thead>
<tbody>
<tr th:each="entity : ${map}">
    <td th:text="${entity.value.id}">Id</td>
    <td th:text="${entity.value.name}">Name</td>
    <td th:text="${entity.value.login}">Login</td>
    <td th:text="${entity.value.password}">Password</td>
    <td th:text="${entity.value.age}">Age</td>
    <td th:text="${entity.value.role}">Role</td>
    <br>
</tr>
</tbody>

</table>

<br>
<form  action="hello">
    <input type="submit" value="Go to Main Page!">
</form>
<br>
<jsp:include page="logout.jsp" />
</body>
</html>